@{
    ViewData["Title"] = "Sign Up";
}
@model List<TempleSignup_Mission12_.Models.Appointment>

<div class="text-center">
    <h1 style="margin:15px;">Sign Up For an Appointment:</h1>
</div>




<!--This loop will display the next 90 days-->
@for (int i = 0; i < 89; i++)
{
<div class="card m-4 p-1">
    <div class="card-header">
        <p>@ViewBag.Days[i]</p>
    </div>
    
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p>Times Booked:</p>
            </div>
            @*<div class="col">
                <p>Slots Available:</p>
            </div>*@
            <!--This button will create an Appointment for that day and then redirect to the form that will allow the user to enter information-->
            <div class="col-3">
                <a class="btn btn-primary" asp-controller="Home" asp-action="ChooseAppointment" asp-route-id="@ViewBag.Days[i]">See Appointment Times For @ViewBag.Days[i]</a>
            </div>
        </div>

        @foreach (var x in Model)
        {
            @if (x.Date == ViewBag.Days[i])
            {
                <div class="row">
                    <div class="col">
                        <p>@x.Time.TimeSlot</p>
                    </div>
                    @*<div class="col">
                        <p>@x.Slots</p>
                    </div>*@
                    <div class="col-3">
                        
                    </div>
                </div>

            }


        }
    </div>
    

    
    
</div>
    
}
